@use '../../styles/base';

.intro-card {
  position: relative;

  &__title {
    @include base.typography-chicago;

    color: base.$color-earth;
    margin-bottom: 10px;
    text-shadow: 0 1px 2px rgba(base.$color-sun, 0.8);
  }

  &__content {
    left: 0;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}
