@use './colors';

$van-gogh: 0 9px 8px -10px rgba(colors.$sun, 0.3);
$monet: 0 11px 14px -11px rgba(colors.$sun, 0.3);
$picasso: 0 11px 17px -8px rgba(colors.$sun, 0.3);
$da-vinci: 0 21px 25px -12px rgba(colors.$sun, 0.3);
