@use '../../styles/base';

.photo-card {
  position: relative;

  &__title {
    @include base.typography-new-york;

    margin: 15px 0 5px;
  }

  &__subtitle {
    @include base.typography-san-francisco;

    margin: 0;
  }

  &__like-button {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}
