@use '../../styles/base';

.callout {
  $this: &;

  background-color: base.$color-earth;
  border-radius: 5px;
  display: inline-block;
  padding: 30px 30px 35px;

  &__title {
    @include base.typography-new-york;

    margin: 0 0 10px;
  }

  &__text {
    @include base.typography-san-francisco;

    margin: 0;
  }

  &--intent-primary {
    background-color: lighten(base.$color-mercury, 45%);

    #{$this} {
      &__title {
        color: base.$color-mercury;
      }
    }
  }

  &--intent-danger {
    background-color: lighten(base.$color-mars, 40%);

    #{$this} {
      &__title {
        color: base.$color-mars;
      }
    }
  }
}
