@mixin type-style-atlanta {
  font-family: 'Open Sans', -apple-system, sans-serif;
  font-size: 32px;
}

@mixin type-style-chicago {
  font-family: 'Open Sans', -apple-system, sans-serif;
  font-size: 26px;
}

@mixin type-style-new-york {
  font-family: 'Open Sans', -apple-system, sans-serif;
  font-size: 18px;
}

@mixin type-style-san-francisco {
  font-family: 'Open Sans', -apple-system, sans-serif;
  font-size: 15px;
}
