@mixin atlanta {
  font-family: 'Open Sans', -apple-system, sans-serif;
  font-size: 32px;
}

@mixin chicago {
  font-family: 'Open Sans', -apple-system, sans-serif;
  font-size: 26px;
}

@mixin new-york {
  font-family: 'Open Sans', -apple-system, sans-serif;
  font-size: 18px;
}

@mixin san-francisco {
  font-family: 'Open Sans', -apple-system, sans-serif;
  font-size: 15px;
}
